<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/css/style.css">
    <title>Welcome</title>
  </head>
  <body>
    <h1 id="Title"> {{title}} </h1>
    <ul>
      <li id="color1"> {{item1}} </li>
      <li id="color2"> {{item2}} </li>
      <li id="color3"> {{item3}} </li>
      <li id="color4"> {{item4}} </li>
    </ul>
  </body>
</html>